#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 2000px;
  padding: 2rem 1rem;
  text-align: center;
  --primary-color: #150067;
  --secondary-color: #ff00b8;
  --third-color: #ffc700;
  --forth-color: #7f1eba;
  --fifth-color: #4c0c73;
}
$phone-width: 460px;
$tablet-width: 768px;
$desktop-width: 1024px;
