@import 'styles';

.online-match-player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  transition: transform 1s ease;
  font-size: 1.5rem;
  .user-profile {
    box-shadow: 0;
    transition: box-shadow 1s;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border: 4px solid $third-color;
  }
  .user-name {
    text-shadow: 0;
    transition: text-shadow 1s;
  }
  .user-score {
    box-shadow: 0;
    transition: box-shadow 1s;
    border-radius: 1.5rem;
    background: linear-gradient(
      180deg,
      #bd60ff -23.62%,
      #e08cfe 49.03%,
      #8f00ff 127.99%
    );
    padding: 0.3rem 1rem;
    color: $fifth-color;
    span {
      color: white;
    }
  }
}
.online-match-highlight-player {
  transform: scale(1.1);

  .user-name {
    text-shadow: 0px 0px 50px rgba(255, 199, 0, 1);
  }
  .user-score,
  .user-profile {
    box-shadow: 0px 0px 30px rgba(255, 199, 0, 1);
  }
}

@media (max-width: #{$desktop-width}) {
  .online-match-player {
    font-size: 1.1rem;
    .user-profile {
      height: 4rem;
      width: 4rem;
    }
  }
}
@media (max-width: #{$tablet-width}) {
  .online-match-player {
    font-size: 1.1rem;
    .user-profile {
      height: 4rem;
      width: 4rem;
    }
  }
}
@media (max-width: #{$phone-width}) {
  .online-match-player {
    font-size: 1rem;
    .user-profile {
      height: 3rem;
      width: 3rem;
    }
    .user-score {
      padding: 0.3rem 1rem;
    }
  }
}
