.turn-timer {
  width: 4rem;
  border-radius: 2rem;
  border: 2px solid #7f1eba;
  background: linear-gradient(
    91deg,
    #5b0e98 2.34%,
    #ca1df3 49.49%,
    #7341c5 99.05%
  );
  padding: 0rem 0.6rem;
  position: absolute;
  right: 10%;
}
