@import 'styles';
.nav-bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.link-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: #{$phone-width}) {
  .nav-bar {
    height: 50px;
  }
}
