@import '../AuthModal.scss';
@import '../../../../styles';
.login-modal {
  @include modalContentContainer;
}

.login-form {
  @include form;
}

.login-unauthorized {
  color: red;
  margin-inline: auto;
  margin-bottom: -1rem;
}
.login-modal-input-icon {
  font-size: 1.5rem;
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
