@import '../AuthModal.scss';
@import '../../../../styles';
.login-modal {
  @include modalContentContainer;
}

.login-form {
  @include form;
}

.login-unauthorized {
  color: red;
  margin-inline: auto;
  margin-bottom: -1rem;
}
