@import 'styles';

.chat-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  background-color: $forth-color;
  border-radius: 50%;
  z-index: 99;
}
.chat-toggler-new-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  top: -5%;
  left: -5%;
}
