@import 'styles';

.login-button-container {
  background-color: white;
  color: $forth-color;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px $secondary-color;
  border: none;
  cursor: pointer;
}
.user-image-button {
  height: 60px;
  border: none;
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  img {
    height: 100%;
  }
}
@media (max-width: #{$phone-width}) {
  .login-button-container {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
}
