@import 'styles';

.circle-svg {
  width: 80%;
  height: 80%;
  background: transparent;
  circle {
    fill: transparent;
    stroke: $third-color;
    stroke-width: 8px;
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    transform: rotate(-90deg);
    transform-origin: center;
    animation: rotate 0.4s ease-in-out forwards;
  }
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
